
.drawer {}
.accordion-item {}
.accordion-item-active .accordion-header
{
	color:#aaa;
	transition:.25s;
}
.accordion-item-active .accordion-header-icon
{
	color:#fff;
    display:none;
}
.accordion-item-active .accordion-header h1 {}
.accordion-header
{
	transition:.25s;
}
.accordion-header h1 {}
.accordion-content
{
	display:none;
	padding:10px 0;
}
.accordion-content p
{
	margin:0;
	margin-bottom: 3px;
}
.accordion-header-icon
{
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	float:right;color:#888;
	font-size: 15px;
	vertical-align: middle;
    display:none;
}
.accordion-header-icon.accordion-header-icon-active
{
	-webkit-transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	transform:rotate(180deg);
	color:#fff;
}
